body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001F3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
    background-color: #E9DBAD;
    max-width: 90%;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

.container {
    background-color: #E9DBAD;
    padding: 4%;
    max-width: 90%;
    border: 2px solid black;
    border-radius: 5px;
}

.form-contents {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.rating {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 5px;
    justify-items: center;
    align-items: center;
}
.star-rating {
    display: contents;
}
.star-rating label {
    font-size: 16px;
}
.radio-buttons {
    display: contents;
}

.col1 {
    grid-column: 1;
}
.col2 {
    grid-column: 2;
}
.col3 {
    grid-column: 3;
}
.col4 {
    grid-column: 4;
}
.col5 {
    grid-column: 5;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    margin-right: 20px;
}

footer {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #E9DBAD;
    box-sizing: border-box;
    max-width: 90%;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
}
.colored {
    color: #001F3F;
}