body {
    font-family: Arial, sans-serif;
    background-color: #E9DBAD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: center;
}

h1, p {
    color: #001F3F;
}

footer {
    background-color: #001F3F;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 90%;
    max-width: 1200px;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer p {
    color: #E9DBAD;
    font-size: 14px;
}

.colored {
    color: #e6ddc3;
}